<div class="row-fluid">
  <div class="span12">
    <div class="loginpage-cont signupPage">
      <div class="loginpage-inner">
        <h3>Change your password</h3>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <% if resource.errors.any? %>
            <div class="alert alert-error alert-block">
              <button type="button" class="close" data-dismiss="alert">x</button>
              <ul>
                <% resource.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.hidden_field :reset_password_token %>

          <div class="sign-form form-horizontal span10 wrapper-center">
            <div class='control-group'>
              <%= f.label :password, 'New password:', class: 'control-label .col-md-4' %>
               <div class="controls .col-md-8">
                  <%= f.password_field :password, class: 'text-fields', autocomplete: 'off', required: true %>
                  <% if @minimum_password_length %>
                    <em style="padding-left: 12px; margin-top: 0px; font-size: 12px">(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
              </div>
            </div>

             <div class='control-group'>
              <%= f.label :password_confirmation, 'Password (Confirm):', class: 'control-label .col-md-4' %>
              <div class="controls .col-md-8">
                <%= f.password_field :password_confirmation, class: 'text-fields', autocomplete: 'off', required: true %>
              </div>
            </div>

            <div class='actions'>
              <%= f.submit 'Change my password', class: 'btn btn-outline btn-secondary pull-right' %>
            </div>
            <div style="font-style:italic; font-size:12px; color:#555; padding-left:12px; padding-top: 5px">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
