<%= form_for(buddyship) do |f| %>
  <% if buddyship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buddyship.errors.count, "error") %> prohibited this buddyship from being saved:</h2>

      <ul>
      <% buddyship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :buddy_id %>
    <%= f.number_field :buddy_id %>
  </div>

  <div class="field">
    <%= f.label :create %>
    <%= f.text_field :create %>
  </div>

  <div class="field">
    <%= f.label :destroy %>
    <%= f.text_field :destroy %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
